body, html, * {
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Open Sans', sans-serif;
}

.canvas {
    box-sizing: border-box;
    border: 2px solid black;
    background-color: white;
}

body > div p {
    margin-bottom: 20px;
}